@media print {
    .container {
        width: auto;
    }
}

.featured-work {
    color: #7d97ad;
}

.plain-anchor,
.plain-anchor:hover,
.plain-anchor:link,
.plain-anchor:active {
    outline: none;
    text-decoration: inherit;
    color: inherit;
}

.profile-picture {
    max-width: 150px;
    outline: none;
    text-decoration: inherit;
    color: inherit;
    height: 100%;
}

.tagline {
    color: #2d3c49;
}

.thumbnail > img {
    max-height: 165px;
}
